// colors

$color-1: #3d3536; // brown
$color-2: #2C97DE; // bright blue
$color-3: #94AAB0; // light blue
$color-4: #ffffff; // white
$color-5: #E94B35; // error red

$text-color: #ffffff;

$nav-bg: #343c55;

$body-bg: #485274;
$nav-container-bg: #485274;

// animation

$animation-duration: 0.5s 0s;

//header height

$header-height-S: 50px;
$header-height-M: 70px;

$nav-height-S: 170px;
$nav-height-M: 80px;

// fonts 

$primary-font: 'Roboto', sans-serif;

//z-index - order the elements from the lowest z-index(left) to the highest(right)

$main-elements: main-content, navigation;
$bg-elements: fixed-bg, scrolling-bg;