main.ca-main-content
    nav.ca-side-nav
        ul
          li.ca-label Nutrition
          li.has-children.images.active
            a(href='#0') Diary
            ul
              li
                a(href='#0') Calories
              li
                a(href='#0') Exercise
          li.has-children.overview
            a(href='#0') Dashboard
            ul
              li
                a(href='#0') Calories
              li
                a(href='#0') Nutrition
              li
                a(href='#0') Challenges
          li.has-children.notifications
            a(href='#0') Notifications
              span.count 3
            ul
              li
                a(href='#0') All Notifications
              li
                a(href='#0') Friends / Activity
              li
                a(href='#0') Other
          li.has-children.comments
            a(href='#0') Comments
            ul
              li
                a(href='#0') All Comments
              li
                a(href='#0') Edit Comment
              li
                a(href='#0') Delete Comment
        ul
          li.ca-label Meal Planning
          li.has-children.images
            a(href='#0') Browse Recipes
            ul
              li
                a(href='#0') All Images
              li
                a(href='#0') Edit Image
          li.has-children.bookmarks
            a(href='#0') Saved Recipes / Lists
            ul
              li
                a(href='#0') Saved Recipes
              li
                a(href='#0') Shopping List
              li
                a(href='#0') Edit Recipes
              li
                a(href='#0') Import Recipes
          li.has-children.users
            a(href='#0') User Recipes
            ul
              li
                a(href='#0') All Users
              li
                a(href='#0') Edit User
              li
                a(href='#0') Add User
        ul
          li.ca-label Actions
          li.action-btn
            a(href='#0') + Quick Add

      .content-wrapper
          ul.ca-diary-items
            li(ng-repeat="item in ctrl.items")
              div
                | Entry Type: 
                span(ng-bind="item.type.label")
              div
                | Value: 
                span(ng-bind="item.value")
          form.ca-form.floating-labels
              fieldset
                  legend Add Calories
                  .ca-filter-block
                    h4 Food Category
                    .ca-filter-content
                      .ca-select.ca-filters
                        select#selectThis.filter(ng-model='ctrl.newItem.type' ng-options='type.label for type in ctrl.types')
                          option(value='') Choose a category
                          option(value='.option1') Protein
                          option(value='.option2') Fat
                          option(value='.option3') Carbs
                          option(value='.option4') Sugar
                  .icon
                    label.ca-label(for='ca-email') Estimated Calories
                    input#ca-email.email(type='text', ng-model="ctrl.newItem.value")
                  div
                    button(ng-click="ctrl.addNewItem()" type='submit') Save Item
                      //- #ca-add-menu
                      //- h2 Add Menu
                      //- input(type='text'
                      //-       ng-model='ctrl.newItem.value')
                      //- select(ng-model='ctrl.newItem.type' ng-options='type.label for type in ctrl.types')
                      //-       option(value='') choose a type
                      //- button(ng-click='ctrl.addNewItem()') Add Item
          //- //button(class='save-btn') Save