div.ca-fixed-bg.ca-bg-1
  h1    A Calorie Counter You'll Use
  div.ca-container.ca-button-container
    a(href='#/signup').ca-signup-button Sign up for free 
    a(href='#/login').ca-login-button Log In
div.ca-scrolling-bg.ca-color-2
  div.ca-container
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
div.ca-fixed-bg.ca-bg-2
  h2 Lorem ipsum dolor sit amet.
div.ca-scrolling-bg.ca-color-3
  div.ca-container
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
div.ca-fixed-bg.ca-bg-3
  h2 Lorem ipsum dolor sit amet.
div.ca-scrolling-bg.ca-color-1
  div.ca-container
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.
div.ca-fixed-bg.ca-bg-4
  h2 Lorem ipsum dolor sit amet.
footer

script(type='text/javascript'
     src='vendor/js/angular.js')
script(type='text/javascript'
     src='js/calorie-accountant.js')
script(type='text/javascript'
     src='vendor/js/angular-ui-router.js')