div.ca-app-content
  h1 MongoDB

  h2 Collections

  ul
    li(ng-repeat="collection in ctrl.collections") 
      a(ui-sref="mongo.collection({ collection: collection.name })") {{collection.name}}

  div(ui-view="")
