form.ca-form.floating-labels
    fieldset
        legend Sign Up
        .icon
          label.ca-label(for='ca-email') Email
          input#ca-email.email(type='email', ng-model="ctrl.user.email", name='ca-email', placeholder="email", required='')
        .icon
          label.ca-label(for='ca-company') Password
          input#ca-company.company(type='text', name='ca-company' ng-model="ctrl.user.password" placeholder="password" required="")
        div
          button(ng-click="ctrl.signup()" type='submit') Sign Up