doctype html
html(ng-app="calorieAccountant")
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body(ng-controller="indexCtrl as ctrl")
    h1 Calorie Accountant

    p(ng-bind="ctrl.hello")
    
    script(type='text/javascript'
           src='vendor/js/angular.js')
    script(type='text/javascript'
           src='js/calorie-accountant.js')