doctype html
html(ng-app="calorieAccountant")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' type='text/css')
    title= title
  body
    header.ca-header
      div(id="ca-logo")
        a: img(src="img/logo-placeholder.svg" alt="Logo")
      nav.ca-main-nav(ng-controller="navCtrl as ctrl" ng-click="ctrl.toggleMobileMenu()")
        ul.menu(ng-class="{'is-visible': ctrl.isMobileMenuOpen()}")
          li: a(ui-sref="home") Home
          li: a(ui-sref="login") Log In
          li: a(ui-sref="signup") Sign Up
          li: a(ui-sref="mongo") MongoDB Admin

    main.ca-main-content(ui-view="")
    footer
    
    script(type='text/javascript'
           src='vendor/js/angular.js')
    script(type='text/javascript'
           src='js/calorie-accountant.js')
    script(type='text/javascript'
           src='vendor/js/angular-ui-router.js')