doctype html
html(ng-app="calorieAccountant")
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body(ng-controller="indexCtrl as ctrl")
    h1 Calorie Accountant

    input(type="text"
          ng-model="ctrl.newItem")
    button(ng-click="ctrl.addNewItem()") Add Item

    ul
      li(ng-repeat="item in ctrl.items" ng-bind="item")
    
    script(type='text/javascript'
           src='vendor/js/angular.js')
    script(type='text/javascript'
           src='js/calorie-accountant.js')