doctype html
html(ng-app="helloWorldApp")
  head
    title= title
    //- link(rel='stylesheet', href='/css/main.css')
  body
    <hello-world value="Hello World" width="500px" height="500px"></hello-world>
    script(type='text/javascript'
           src='vendor/js/angular.js')
    script(type='text/javascript'
           src='js/hello-world.js')