doctype html
html(ng-app="mcFridgeMagnets")
  head
    title= title
    //- link(rel='stylesheet', href='/css/main.css')
  body(ng-controller="mcFridgeMagnetsTestCtrl as ctrl")
    <mc-fridge-magnets value="ctrl.text"></mc-fridge-magnets>
    script(type='text/javascript'
           src='vendor/js/angular.js')
    script(type='text/javascript'
           src='js/mc-fridge-magnets.js')