%reset
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

body
  height: 500px
  display: flex

textarea
  display: block
  height: 100%
  width: 49%
  font-size: 20px

mc-fridge
  @extend %reset
  position: static
  display: block
  height: 100%
  width: 49%