@import "../vendor/css/bourbon/bourbon";
@import "partials/variables"; // colors, fonts etc...
@import "partials/mixins"; // custom mixins
@import "partials/layout"; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-1;
  background-color: $color-4;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: $color-3;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.ca-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: $M; // breakpoints inside partials > _layout.scss
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

/* -------------------------------- 

Main components 

-------------------------------- */

.ca-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-S;
  background: rgba($color-4, .95);
  box-shadow: 0 1px 2px rgba(#000, .2);
  z-index: index($main-elements, navigation); // see partials > _variables.scss
  @include clearfix;

  #ca-logo {
    float: left;
    margin: 13px 0 0 5%;

    img {
      display: block;
    }
  }

  @include MQ(M) {
    height: $header-height-M;

    #ca-logo {
      margin: 23px 0 0 5%;
    }
  }
}

.ca-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url('../img/ca-icon-menu.svg') no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include transform(translateY(-100%));

    &.is-visible {
      @include transform(translateY($header-height-S));
    }
  }

  a {
    display: block;
    height: $header-height-S;
    line-height: $header-height-S;
    padding-left: 5%;
    background: darken($color-1, 5%);
    border-top: 1px solid lighten($color-1, 3%);
    color: lighten($color-1, 30%);
  }

  @include MQ(M) {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;

    ul {
      position: static;
      width: auto;
      @include transform(translateY(0));
      line-height: $header-height-M;

      &.is-visible {
        @include transform(translateY(0));
      }
    }

    li {
      display: inline-block;
      margin-left: 1em;
    }

    a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
      padding: .6em 1em;
      border-top: none;
      color: $color-1;
      text-transform: uppercase;
      font-weight: bold;
      @include font-size(14px);

      .no-touch &:hover {
        color: $color-2;
      }
    }
  }
}


/* -------------------------------- 

Form

-------------------------------- */
.ca-form {
  width: 90%;
  max-width: 600px;
  margin: 4em auto;
}
.ca-form::after {
  clear: both;
  content: "";
  display: table;
}
.ca-form fieldset {
  margin: 24px 0;
}
.ca-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
}
.ca-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0;
}
.ca-form h4, .ca-form .ca-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
}
.ca-form .ca-label {
  display: block;
}
.ca-form input, .ca-form textarea, .ca-form select, .ca-form label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
}
.ca-form input[type="text"],
.ca-form input[type="email"],
.ca-form textarea,
.ca-form select,
.ca-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.ca-form input[type="text"],
.ca-form input[type="email"],
.ca-form textarea,
.ca-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.ca-form input[type="text"]:focus,
.ca-form input[type="email"]:focus,
.ca-form textarea:focus,
.ca-form select:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.ca-form .ca-select {
  /* select element wapper */
  position: relative;
}
.ca-form .ca-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/ca-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.ca-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.ca-form select::-ms-expand {
  display: none;
}
.ca-form .ca-form-list {
  margin-top: 16px;
}
.ca-form .ca-form-list::after {
  clear: both;
  content: "";
  display: table;
}
.ca-form .ca-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left
}
.ca-form input[type=radio],
.ca-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.ca-form input[type="radio"] + label,
.ca-form input[type="checkbox"] + label {
  padding-left: 24px;
}
.ca-form input[type="radio"] + label::before,
.ca-form input[type="radio"] + label::after,
.ca-form input[type="checkbox"] + label::before,
.ca-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.ca-form input[type="radio"] + label::before,
.ca-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.ca-form input[type="radio"] + label::before,
.ca-form input[type="radio"] + label::after {
  border-radius: 50%;
}
.ca-form input[type="checkbox"] + label::before,
.ca-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}
.ca-form input[type="radio"] + label::after,
.ca-form input[type="checkbox"] + label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.ca-form input[type="radio"] + label::after {
  /* custom image for radio button */
  background-image: url("../img/ca-icon-radio.svg");
}
.ca-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
  background-image: url("../img/ca-icon-check.svg");
}
.ca-form input[type="radio"]:focus + label::before,
.ca-form input[type="checkbox"]:focus + label::before {
  /* add focus effect for radio and check buttons */
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}
.ca-form input[type="radio"]:checked + label::after,
.ca-form input[type="checkbox"]:checked + label::after {
  display: block;
}
.ca-form input[type="radio"]:checked + label::before,
.ca-form input[type="radio"]:checked + label::after,
.ca-form input[type="checkbox"]:checked + label::before,
.ca-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: ca-bounce 0.3s;
  -moz-animation: ca-bounce 0.3s;
  animation: ca-bounce 0.3s;
}
.ca-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}
.ca-form button[type="submit"] {
  /* button style */
  border: none;
  background: #2c97de;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .ca-form button[type="submit"]:hover {
  background: #42a2e1;
}
.ca-form button[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.ca-form button[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.ca-form [required] {
  background: url("../img/ca-required.svg") no-repeat top right;
}
.ca-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: .25em;
  padding: 16px;
}
.ca-form .error {
  border-color: #e94b35 !important;
}
@media only screen and (min-width: 600px) {
  .ca-form div {
    /* form element wrapper */
    margin: 32px 0;
  }
  .ca-form legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
  }
  .ca-form h4, .ca-form .ca-label {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .ca-form input[type="text"],
  .ca-form input[type="password"],
  .ca-form input[type="email"],
  .ca-form textarea,
  .ca-form select {
    padding: 16px;
  }
}

@-webkit-keyframes ca-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes ca-bounce {
  0%, 100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes ca-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
