@import "../vendor/css/bourbon/bourbon";
@import "partials/variables"; // colors, fonts etc...
@import "partials/mixins"; // custom mixins
@import "partials/layout"; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;

}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #2c97de;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.ca-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: $M; // breakpoints inside partials > _layout.scss
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}
.ca-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.ca-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-S;
  background: rgba($color-4, .95);
  box-shadow: 0 1px 2px rgba(#000, .2);
/*   z-index: index($main-elements, navigation); // see partials > _variables.scss */
  z-index: 3;
  @include clearfix;

  #ca-logo {
    float: left;
    margin: 13px 0 0 5%;

    img {
      display: block;
    }
  }

  @include MQ(M) {
    height: $header-height-M;

    #ca-logo {
      margin: 23px 0 0 5%;
    }
  }
}

.ca-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url('../img/ca-icon-menu.svg') no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include transform(translateY(-100%));

    &.is-visible {
      @include transform(translateY($header-height-S));
    }
  }

  a {
    display: block;
    height: $header-height-S;
    line-height: $header-height-S;
    padding-left: 5%;
    background: darken($color-1, 5%);
    border-top: 1px solid lighten($color-1, 3%);
    color: lighten($color-1, 30%);
  }

  @include MQ(M) {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;

    ul {
      position: static;
      width: auto;
      @include transform(translateY(0));
      line-height: $header-height-M;

      &.is-visible {
        @include transform(translateY(0));
      }
    }

    li {
      display: inline-block;
      margin-left: 1em;
    }

    a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
      padding: .6em 1em;
      border-top: none;
      color: $color-1;
      text-transform: uppercase;
      font-weight: bold;
      @include font-size(20px);

      .no-touch &:hover {
        color: $color-2;
      }
    }
  }
}

.ca-main-content {
  width: 100%;
  margin-top: $header-height-S;
  height: 100%;

  @include MQ(M) {
  	margin-top: $header-height-M;
  }
}
.ca-form-content {
  width: 90%;
  position: relative;
  margin: 10em auto;
  z-index: index($main-elements, main-content); // see partials > _variables.scss
}
.ca-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.ca-fixed-bg h1, .ca-fixed-bg h2 {
  position: absolute;
  left: 55%;
  top: 25%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

/* Landing page styles */

.ca-fixed-bg .ca-signup-button {
  border: none;
  background: $color-2;
  border-radius: .25em;
  padding: 13px 30px;
  margin-right: 20px;
  color: $color-4;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  @include font-smoothing;
  @include appearance(none);
}
.ca-fixed-bg .ca-login-button {
  border: none;
  background: $color-2;
  border-radius: .25em;
  padding: 13px 30px;
  margin-right: 20px;
  color: $color-4;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  @include font-smoothing;
  @include appearance(none);
}
.ca-fixed-bg .ca-button-container {
  position: absolute;
  left: 32%;
  top: 32%;
}
.ca-fixed-bg.ca-bg-1 {
  background-image: url("../img/ca-background-1.jpg");
}
.ca-fixed-bg.ca-bg-2 {
  background-image: url("../img/ca-background-2.jpg");
}
.ca-fixed-bg.ca-bg-3 {
  background-image: url("../img/ca-background-3.jpg");
}
.ca-fixed-bg.ca-bg-4 {
  background-image: url("../img/ca-background-4.jpg");
}
@media only screen and (min-width: 768px) {
  .ca-fixed-bg h1, .ca-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .ca-fixed-bg {
    background-attachment: fixed;
  }
  .ca-fixed-bg h1, .ca-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.ca-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.ca-scrolling-bg.ca-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.ca-scrolling-bg.ca-color-2 {
  background-color: $color-4;
  color: #3d3536;
}
.ca-scrolling-bg.ca-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .ca-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/* -------------------------------- 

Form

-------------------------------- */

.ca-form {
  width: 90%;
  max-width: $M; // breakpoints inside partials > _layout.scss
  margin: 4em auto;
  @include clearfix;

  fieldset {
    margin: 24px 0;
  }

  legend {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    border-bottom: 1px solid $color-3;
  }

  div {
    /* form element wrapper */
    position: relative;
    margin: 20px 0;
  }

  h4, .ca-label {
    font-size: 1.3rem;
    color: darken($color-3, 30%);
    margin-bottom: 10px;
  }

  .ca-label {
    display: block;
  }

  input, textarea, select, label {
    font-family: $primary-font;
    font-size: 1.6rem;
    color: $color-1;
  }

  input[type="text"], 
  input[type="email"], 
  textarea, 
  select,
  legend {
    display: block;
    width: 100%;
    @include appearance(none);
  }

  input[type="text"], 
  input[type="email"], 
  textarea, 
  select {
    /* general style for input elements */
    padding: 12px;
    border: 1px solid darken($color-3, 10%);
    background-color: $color-4;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(#000, .08);

    &:focus {
      outline: none;
      border-color: $color-2;
      box-shadow: 0 0 5px rgba($color-2, .2);
    }
  }

  .ca-select {
    /* select element wapper */
    position: relative;

    &::after {
      /* arrow icon for select element */
      content: '';
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 50%;
      margin-top: -8px;

      display: block;
      width: 16px;
      height: 16px;

      background: url('../img/ca-icon-arrow.svg') no-repeat center center;
      pointer-events: none;
    }
  }

  select {
    box-shadow: 0 1px 3px rgba(#000, .08);
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }

  .ca-form-list {
    margin-top: 16px;
    @include clearfix;
  }

  .ca-form-list li {
    /* wrapper for radio and checkbox input types */
    display: inline-block;
    position: relative;
    @include user-select(none);
    margin: 0 26px 16px 0;
    float: left;
  }

  input[type=radio],
  input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
  }

  input[type="radio"] + label, 
  input[type="checkbox"] + label {
    padding-left: 24px;
  }

  input[type="radio"] + label::before,
  input[type="radio"] + label::after,
  input[type="checkbox"] + label::before,
  input[type="checkbox"] + label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
  }

  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    border: 1px solid darken($color-3, 10%);
    background: $color-4;
    box-shadow: inset 0 1px 1px rgba(#000, .08);
  }

  input[type="radio"] + label::before,
  input[type="radio"] + label::after {
    border-radius: 50%;
  }

  input[type="checkbox"] + label::before,
  input[type="checkbox"] + label::after {
    border-radius: .25em;
  }

  input[type="radio"] + label::after,
  input[type="checkbox"] + label::after {
    background-color: $color-2;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba($color-2, .4);
    display: none;
  }

  input[type="radio"] + label::after {
    /* custom image for radio button */
    background-image: url('../img/ca-icon-radio.svg');
  }

  input[type="checkbox"] + label::after {
    /* custom image for checkbox */
    background-image: url('../img/ca-icon-check.svg');
  }

  input[type="radio"]:focus + label::before,
  input[type="checkbox"]:focus + label::before {
    /* add focus effect for radio and check buttons */
    box-shadow: 0 0 5px rgba($color-2, .6);
  }

  input[type="radio"]:checked + label::after,
  input[type="checkbox"]:checked + label::after {
    display: block;
  }

  input[type="radio"]:checked + label::before,
  input[type="radio"]:checked + label::after,
  input[type="checkbox"]:checked + label::before,
  input[type="checkbox"]:checked + label::after {
    @include animation(ca-bounce .3s);
  }

  textarea {
    min-height: 200px;
    resize: vertical;
    overflow: auto;
  }

  button[type="submit"] {
    /* button style */
    border: none;
    background: $color-2;
    border-radius: .25em;
    padding: 16px 20px;
    color: $color-4;
    font-weight: bold;
    font-size: 1.6rem;
    float: right;
    cursor: pointer;
    @include font-smoothing;
    @include appearance(none);

    .no-touch &:hover {
      background: lighten($color-2, 5%);
    }

    &:focus {
      outline: none;
      background: $color-1;
    }

    &:active {
      @include transform(scale(.9));
    }
  }

  [required] {
    background: url('../img/ca-required.svg') no-repeat top right;
  }

  .error-message p {
    background: $color-5;
    color: $color-4;
    font-size: 1.4rem;
    text-align: center;
    @include font-smoothing;
    border-radius: .25em;
    padding: 16px;
  }

  .ng-invalid {
    border-color: $color-5 !important;
  }

  @include MQ(M) {
    div {
      /* form element wrapper */
      margin: 32px 0;
    }

      legend + div {
      /* reduce margin-top for first form element after the legend */
      margin-top: 20px;
    }

    h4, .ca-label {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }

    input[type="text"], 
    input[type="email"], 
    textarea, 
    select {
      padding: 16px;
    }
  }
}

@include keyframes(ca-bounce) {
  0%, 100% {
    @include transform(scale(1));
  }

  50% {
    @include transform(scale(.8));
  }
}

/* -------------------------------- 

Custom icons

-------------------------------- */

.ca-form {
  .icon input, .icon select, .icon textarea {
    padding-left: 54px !important;
  }

  .user {
    background: url('../img/ca-icon-user.svg') no-repeat 16px center;
  }

  [required].user {
    background: url('../img/ca-icon-user.svg') no-repeat 16px center, 
          url('../img/ca-required.svg') no-repeat top right;
  }

  .company {
    background: url('../img/ca-icon-company.svg') no-repeat 16px center;
  }

  [required].company {
    background: url('../img/ca-icon-company.svg') no-repeat 16px center, 
          url('../img/ca-required.svg') no-repeat top right;
  }

  .email {
    background: url('../img/ca-icon-email.svg') no-repeat 16px center;
  }

  [required].email {
    background: url('../img/ca-icon-email.svg') no-repeat 16px center, 
          url('../img/ca-required.svg') no-repeat top right;
  }

  .budget {
    background: url('../img/ca-icon-budget.svg') no-repeat 16px center;
  }

  .message {
    background: url('../img/ca-icon-message.svg') no-repeat 16px 16px;
  }

  [required].message {
    background: url('../img/ca-icon-message.svg') no-repeat 16px 16px, 
          url('../img/ca-required.svg') no-repeat top right;
  }
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels {
  div {
    margin: 28px 0;
  }

  .ca-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.6rem;
    cursor: text;
    @include transition(top .2s, left .2s, font-size .2s);
  }

  .icon .ca-label {
    left: 56px;
  }

  .ca-label.float {
    /* move label out the input field */
    font-size: 1.2rem;
    top: -16px;
    left: 0 !important;
  }

  @include MQ(M) {

    legend + div {
      /* reduce margin-top for first form element after the legend */
      margin-top: 16px;
    }

    .ca-label {
      top: 20px;
    }
  }
}


/* -------------------------------- 

Sidebar

-------------------------------- */
.ca-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.ca-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.ca-side-nav > ul {
  padding: 0.6em 0;
}
.ca-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.ca-side-nav .ca-label, .ca-side-nav a {
  display: block;
  padding: 1em 5%;
}
.ca-side-nav .ca-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.ca-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}
.ca-side-nav ul.ca-top-nav > li:last-of-type > a {
  border-bottom: none;
}
.ca-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
}
.ca-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/ca-nav-icons.svg) no-repeat 0 0;
}
.ca-side-nav > ul > li.overview > a::before {
  background-position: -64px 0;
}
.ca-side-nav > ul > li.notifications > a::before {
  background-position: -80px 0;
}
.ca-side-nav > ul > li.comments > a::before {
  background-position: -48px 0;
}
.ca-side-nav > ul > li.bookmarks > a::before {
  background-position: -32px 0;
}
.ca-side-nav > ul > li.images > a::before {
  background-position: 0 0;
}
.ca-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}
.ca-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #ff7e66;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.ca-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.ca-side-nav .action-btn a::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .ca-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 10px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .ca-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .ca-side-nav.is-fixed {
    position: fixed;
  }
  .ca-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .ca-side-nav .ca-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .ca-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }
  .ca-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  .ca-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .ca-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
  .ca-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  .ca-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 1170px) {
  .ca-side-nav {
    width: 200px;
  }
  .ca-side-nav > ul {
    padding: 0.6em 0;
  }
  .ca-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #33383e;
  }
  .ca-side-nav > ul > li > a {
    padding: 1em 1em 1em 42px;
    text-align: left;
    border-bottom: none;
  }
  .ca-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .ca-side-nav .ca-label {
    display: block;
    padding: 1em 18px;
  }
  .ca-side-nav .action-btn {
    text-align: left;
  }
  .ca-side-nav .action-btn a {
    margin: 0 18px;
  }
  .no-touch .ca-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }
  .ca-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #1c1f22;
}
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/ca-arrow.svg);
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }
  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }
  .has-children > a::after {
    display: none;
  }
  .ca-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
  .ca-top-nav .has-children {
    position: relative;
    background-color: #2c3136;
  }
  .ca-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
  }
  .ca-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  .ca-top-nav .has-children ul {
    background-color: #1c1f22;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .ca-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children ul a {
    padding-left: 18px;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .ca-side-nav .has-children:hover > ul, .ca-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* Diary Entry Styling */

.ca-diary-items {
  padding-top: 30px;
  margin: 0 230px;
}

.ca-diary-items > li {
  display: block;
  background-color: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  margin: 0px 5% 5% 0px;
  padding: 20px;
}

/* -------------------------------- 

xgallery 

-------------------------------- */

#content {
	position: relative;
	top: $header-height-M;
	min-height: 100%;
	background: #FFF;
	padding-top: 50px;

	z-index: 2;

	@include MQ(M) {
		/* padding-top: 70px; */
	}

/* 
	@include MQ(L) {
		padding-top: 120px;
	}
 */
}

#ca-gallery-items {
	li {
		margin-bottom: 1.5em;

		img {
			width: 100%;
			display: block;
/* 			@include border-radius; */
		}
	}

	@include MQ(M) {
		li {
			@include column(.48); // see how this mixin works inside partials > _layout.scss
			margin-bottom: 2em;
			margin-right: 4%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

/* 
	@include MQ(L) {
		li {
			@include column(.31);
			margin-bottom: 2.5em;
			margin-right: 3.5%;

			&:nth-child(2n) {
				margin-right: 3.5%;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
 */
}

#ca-shadow-layer {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: $shadow-layer-bg;
	cursor: pointer;

	z-index: 1;

	display: none;

	&.is-visible {
		display: block;
		@include animation(ca-fade-in .3s);
	}
}

/* -------------------------------- 

Filter Form 

-------------------------------- */

#main-nav form {
	padding: 0 10%;
}
.ca-filter-block {
  margin-bottom: 1.6em;
}
.ca-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .ca-filter-block h4:hover {
  color: #41307c;
}
.ca-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/ca-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.ca-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.ca-filter-block input, .ca-filter-block select,
.ca-filter-block .radio-label::before,
.ca-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.ca-filter-block input[type='search'],
.ca-filter-block input[type='text'],
.ca-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.ca-filter-block input[type='search']:focus,
.ca-filter-block input[type='text']:focus,
.ca-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.ca-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.ca-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.ca-filter-block .ca-select {
  /* select element wrapper */
  position: relative;
}
.ca-filter-block .ca-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/ca-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.ca-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.ca-filter-block select::-ms-expand {
  display: none;
}
.ca-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.ca-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.ca-filter-block input[type=radio],
.ca-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.ca-filter-block .checkbox-label,
.ca-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ca-filter-block .checkbox-label::before, .ca-filter-block .checkbox-label::after,
.ca-filter-block .radio-label::before,
.ca-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ca-filter-block .checkbox-label::before,
.ca-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.ca-filter-block .checkbox-label::after,
.ca-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.ca-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/ca-icon-check.svg") no-repeat center center;
}
.ca-filter-block .radio-label::before,
.ca-filter-block .radio-label::after {
  border-radius: 50%;
}
.ca-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.ca-filter-block input[type=radio]:checked + label::before,
.ca-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.ca-filter-block input[type=radio]:checked + label::after,
.ca-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}
.ca-filter .ca-close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #FFF;
    font-size: 1.3rem;
    text-align: center;
    background: #37296A none repeat scroll 0% 0%;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    z-index: 3;
}
/* xIcons section - basic style */
.ca-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em;
}
.ca-icons .ca-icon-1 {
  background-image: url("../assets/icons/icon-1.svg");
}
.ca-icons .ca-icon-2 {
  background-image: url("../assets/icons/icon-2.svg");
}
.ca-icons .ca-icon-3 {
  background-image: url("../assets/icons/icon-3.svg");
}
.ca-icons .ca-icon-4 {
  background-image: url("../assets/icons/icon-4.svg");
}
.ca-icons .ca-icon-5 {
  background-image: url("../assets/icons/icon-5.svg");
}
.ca-icons .ca-icon-6 {
  background-image: url("../assets/icons/icon-6.svg");
}
.ca-icons .ca-icon-7 {
  background-image: url("../assets/icons/icon-7.svg");
}
.ca-icons .ca-icon-8 {
  background-image: url("../assets/icons/icon-8.svg");
}

/* xForm section - basic style */
/* 
.ca-form input[type=text],
.ca-form .ca-input-wrapper {
  margin: 1em;
}
 */
.ca-form .ca-input-wrapper {
  position: relative;
  display: inline-block;
}
.ca-form select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox */
  .ca-select::after {
    display: none;
  }
}
.no-csstransitions .ca-select::after {
  display: none;
}
.save-btn {
    font-size: 1.6rem;
}
.save-btn {
    border: medium none;
    box-shadow: none;
    border-radius: 0.25em;
    font-size: 1.4rem;
    font-family: "Open Sans",sans-serif;
    color: #FFF;
    padding: 0.6em 2.2em;
    cursor: pointer;
    background: #5F8EE4 none repeat scroll 0% 0%;
}

/* Typography */

.ca-typography .ca-box,
.ca-buttons .ca-box,
.ca-icons .ca-box,
.ca-form .ca-box {
	padding: 1em;
	width: 90%;
	max-width: 600px;
	margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .ca-typography .ca-box .ca-box,
  .ca-buttons .ca-box .ca-box,
  .ca-icons .ca-box .ca-box,
  .ca-form .ca-box .ca-box {
    padding: 2em;
  }
}
/* xTypography section - basic style */
.ca-typography h1::before {
  content: 'Aa - ';
  color: #5f8ee4;
}


/* -------------------------------- 

xkeyframes 

-------------------------------- */

@include keyframes(ca-fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



